body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       background-image: url(../img/restaurante1.jpg);
        background-position-x: center;
        background-position-y:center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
}
.encabezado{
    text-align: center;
    margin : 20px 0px;
}



.nav-link {
    font-size: 25px;
    margin-right: 45px;
    font-weight: 400;
}

.titulo {
    display: none;
}

.contenedor {
    margin-top: 60px;
    margin-left: 80px;
}


#text {
    display: block;
    width: 350px;
    height: 150px;
    margin-top: 40px;
}

.navbar-brand {
  width: 20%;
  margin-left: 5px;
}
.navbar-brand img {
    width: 40%;
    margin-left: 200px;
}

a  #login:hover {
  color: red;
}

#logo{
    width: 100px;
    height: 50px;
  }


  .contain {
    position: absolute;
    top: 165px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 25%;
  }
  
  
  
  
  .contain form {
     margin: auto;
     background-color: #fff;
     margin-top: 5px;
  }
  
  
  
  input {
      display: block;
      margin:  12px auto;
      padding: 9px;
      box-sizing: border-box;
      border: none;
      background: #444;
      background: transparent;
      outline: none !important;
      transition: background 0.3s;
      width: 100%;
      color: #fff;
    }
  
    input::placeholder {
      color:#ccc;
      transition:color 0.3s;
    }
    
    input:hover {
      background: #26a;
    }
    
    input:hover::placeholder{
      color: #fff;
    }
    
    input:focus{
      color:#ccc;
    }
    
    input[type="submit"]{
     width: 40%;
     padding: 10px;
     background: #090;
     color: #fff;
     margin-top: 18px;
    }
    
    input[type="submit"]:hover{
      background: #26ca;
    
    }
  
  
    input[type="password"]:placeholder{
      background: #ccc;
    
    }
  
  
    form {
      width: 30%;
      margin: auto;
      background:#26a;
      padding: 20px;
      padding-top: 1px;
      margin-top: 5px;
      opacity: .9;
    }
  
    .btn .btn-primary{
      margin-left: 20px;
    } 

    label {
        font-size: 20px;
    }

