body {
    background-image: url(../img/restaurante1.jpg);
    background-position-x: center;
    background-position-y:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

.contenedor h1 {
  padding: 40px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 100px;
    color: #444;
}

.contain {
  position: absolute;
  top: 165px;
  width: 100%;
}




.contain form {
   margin: auto;
   background-color: #fff;
   margin-top: 10px;
}



input {
    display: block;
    margin:  12px auto;
    padding: 9px;
    box-sizing: border-box;
    border: none;
    background: #444;
    background: transparent;
    outline: none !important;
    transition: background 0.3s;
    width: 100%;
  }

  input::placeholder {
    color:#ccc;
    transition:color 0.3s;
  }
  
  input:hover {
    background: #26a;
  }
  
  input:hover::placeholder{
    color: #fff;
  }
  
  input:focus{
    color:#ccc;
  }
  
  input[type="submit"]{
   width: 40%;
   padding: 10px;
   background: #090;
   color: #fff;
   margin-top: 18px;
  }
  
  input[type="submit"]:hover{
    background: #26ca;
  
  }


  input[type="password"]:placeholder{
    background: #ccc;
  
  }


  form {
    width: 50%;
    margin: auto;
    background:#26a;
    padding: 20px;
    padding-top: 1px;
    margin-top: 5px;
  }

  .btn-group {
    justify-content: center;
    margin-left: 15px;
  }


  .nav {
    padding: 25px;
    display: inline-block;
    background-color: #444;
  }

  .nav ul{
    text-decoration: none;
    list-style: none;
    padding: 5px;
  }

  .nav li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 20px;
    justify-content: center;
    
  }
  .nav ul a {
    text-decoration: none;
  }

  .nav a {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    list-style: none;
  }


  .nav a :hover {
    color: rgb(0,0,250);
  }

  /*Style logo*/
  #logo{
    width: 100px;
    height: 50px;
    margin-right: 20px;
    margin-left: 30px;
  }

  #logo-login{
    width: 120px;
    height: 60px;
    margin-right: 20px;
    margin-left: 80px;
    margin-top: 10px;
    position: absolute;
  }


  #boton {
    margin-left: 100px;
    margin-top: 80px;
    position:absolute;
  }

  h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    padding: 2px;
  }

  #cerrar {
    margin-left: 80px;
    position: absolute;
    margin-top: 30px;
  }

  .navbar-brand {
    width: 20%;
    margin-left: 5px;
  }
  .navbar-brand img {
      width: 40%;
      margin-left: 200px;
  }
  
  a  #login:hover {
    color: red;
  }
  
  #dialog {
      display: none;
  }
  
  .me-4 {
      text-decoration: none;
  }
  
  .nav-link {
    font-size: 25px;
    margin-right: 45px;
    font-weight: 400;
} 

.contenedor {
  width: 80%;
  margin: 150px;
  margin-top: 5px;
}

.contenedor h1 {
  margin-top: 5px;
}